<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ktl.moment"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
	 <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:name="com.ktl.moment.android.MomentApplication"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.ktl.moment.android.activity.AccountActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <!-- 必须注册在微博授权，分享微博时候用到 -->
        <activity android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser" 
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
        </activity>
        <!-- 分享 -->
        <activity
			android:name="com.sina.weibo.sdk.demo.WBShareActivity"
			android:configChanges="keyboardHidden|orientation"
			android:screenOrientation="portrait" >
			<intent-filter>
				<action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
        
        <!-- QQ login -->
		 <activity
		       android:name="com.tencent.tauth.AuthActivity"
		       android:noHistory="true"
		       android:launchMode="singleTask" >
		    <intent-filter>
		           <action android:name="android.intent.action.VIEW" />
		       	<category android:name="android.intent.category.DEFAULT" />
		       	<category android:name="android.intent.category.BROWSABLE" />
		           <data android:scheme="tencent1104435237" />
		    </intent-filter>
		 </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
		</activity>
        
        <activity 
            android:name="com.ktl.moment.android.activity.HomeActivity">
        </activity>
        <!-- 测试activity  -->
        <activity 
            android:name="com.ktl.moment.android.activity.TestActivity">
        </activity>
        <!-- 地区选择activity  -->
        <activity 
            android:name="com.ktl.moment.android.component.wheel.HoloWheelActivity"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar">
        </activity>
        <!-- 拍照还是从相册选择图片 -->
         <activity
            android:name="com.ktl.moment.android.activity.CameraSelectActivity"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" >
        </activity>
        <!-- 灵感编辑Activity -->
        <activity 
            android:name="com.ktl.moment.android.activity.EditorActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <!-- 用户详情页 -->
        <activity 
            android:name="com.ktl.moment.android.activity.UserPageActivity">
        </activity>
        <!-- 灵感详情页 -->
        <activity 
            android:name="com.ktl.moment.android.activity.MomentDetailActivity">
        </activity>
        <!-- 长按灵感弹出选项dialog -->
        <activity 
            android:name="com.ktl.moment.android.activity.MomentDialogActivity"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar">
        </activity>
        <!-- 播放录音点击删除弹出dialog -->
        <activity 
            android:name="com.ktl.moment.android.activity.SimpleDialogActivity"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar">
        </activity>
        <!-- 个人设置页面 -->
        <activity 
            android:name="com.ktl.moment.android.activity.SettingActivity">
        </activity>
        <!-- 分享选择 -->
        <activity 
            android:name="com.ktl.moment.android.activity.ShareActivity"
            android:theme="@style/activity_transparent">
        </activity>
        <!-- 我关注的用户页面 -->
        <activity 
            android:name="com.ktl.moment.android.activity.MyFocusActivty">
        </activity>
        <!-- 推荐用户页面 -->
        <activity 
            android:name="com.ktl.moment.android.activity.RecommendAuthorActivity">
        </activity>
        <!-- 编辑资料页面 -->
        <activity 
            android:name="com.ktl.moment.android.activity.EditInfoActivity">
        </activity>
        <!-- 日期选择对话框 -->
        <activity 
            android:name="com.ktl.moment.android.activity.CustomDatePicker"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar">
        </activity>
        <!-- 通知页面 -->
        <activity 
            android:name="com.ktl.moment.android.activity.MsgRemindActivity">
        </activity>
        <!-- 评论页面 -->
        <activity 
            android:name="com.ktl.moment.android.activity.CommentActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <!-- 我关注的灵感页面 -->
        <activity 
            android:name="com.ktl.moment.android.activity.WPActivity">
        </activity>
    </application>

</manifest>
